{{#in-modal title=model.title onClose=(action "cancel")}}
  <div class="modal-body">
    <p>
      {{model.text}}
    </p>
  </div>

  <div class="modal-footer">
    {{#in-button "danger" onClick=(action "cancel")}}Cancel{{/in-button}}
    {{#in-button "success" onClick=(action "confirm")}}Confirm{{/in-button}}
  </div>
{{/in-modal}}
