# See https://help.github.com/ignore-files/ for more about ignoring files.

/frontend/dist
/frontend/tmp
/frontend/node_modules
/frontend/.sass-cache
/frontend/coverage/*
/frontend/npm-debug.log*

/backend/_build
/backend/db
/backend/deps
/backend/*.ez
/backend/erl_crash.dump
/backend/config/prod.secret.exs
/backend/priv/repo/seeds.exs

/k8s/bases/helm_charts

old-frontend
