$fa-font-path: '../fonts';

$blue:    #244C59;
$red:     #C73D32;
$green:   #00BF87;

$success:       $green;
$info:          $blue;
$danger:        $red;

$border-radius:               .1rem;
$border-radius-lg:            .1rem;
$border-radius-sm:            .1rem;

// $font-family-sans-serif:      'latosemibold', sans-serif;
// $font-family-base:            $font-family-sans-serif;
//
// $headings-font-family:        'latobold';
