<div class="in-panel">
  <div class="row no-gutters">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Last Comments
        </div>
        {{#each model.lastComments as |comment|}}
          <span>{{comment.content}}</span>
          <!-- TODO: add APPROVE comment / delete -->
        {{/each}}
      </div>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Last Blog Posts
        </div>
        {{#each model.lastBlogPosts as |blogPost|}}
          {{#link-to "posts.post" blogPost.slug class="card card-body"}}
            <h5 class="card-title">{{blogPost.title}}</h5>
          {{/link-to}}
        {{/each}}
      </div>
    </div>

    <p>
      TODO later: Last Comments, Last Visitors
    </p>
  </div>
</div>
