<nav class="in-header navbar navbar-expand navbar-light bg-faded navbar-toggleable-md fixed-top">
  <div class="container">
    <LinkTo @route="public.index" class="navbar-brand">Izel Nakri | Blog</LinkTo>
    <ul class="mr-auto hidden-md-down">
    </ul>

    <ul class="nav navbar-nav hidden-md-down ml-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li> -->

      {{#if this.session.currentUser}}
        <li class="nav-item">
          <LinkTo @route="admin" class="nav-link">ADMIN</LinkTo>
        </li>
        <li class="nav-item">
          <span class="nav-link" {{action (route-action "logout")}}>
            LOGOUT
          </span>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
