<AppHeader/>

<div class="container" style="padding-top: 58px">
  <div class="col-12 col-sm-6 offset-sm-3 card card-block">
    <Form @model={{this.model}} @submitHandler={{false}} @beforeSubmit={{fn this.login this.model}} as |form|>
      <form.input @attribute="primaryEmail.address" type="email" @addonLeft="fas-envelope" @autofocus="true" />

      <form.password @attribute="password" />
      <hr />

      <form.button @style="primary" @size="lg" @block={{true}} @type="submit">
        Submit
      </form.button>
    </Form>
  </div>
</div>
