<div class="col-8 offset-2 card card-block">
  {{#in-form model=model submitHandler=false onSubmit=(route-action "login" model) as |form|}}
    {{form.input attribute="email.address" type="email"}}

    {{form.inputpassword attribute="password"}}

    {{#in-button "primary" size="lg" block=true type="submit"}}Submit{{/in-button}}
  {{/in-form}}
</div>
