<AppHeader/>

<div class="container" style="padding-top: 58px">
  <div class="row no-gutters">
    <div class="col-2">
      <ul class="list-group">
        <LinkTo @route="posts.new" class="list-group-item list-group-item-action justify-content-center">
          New Post
        </LinkTo>
        <LinkTo @route="admin.content" class="list-group-item list-group-item-action justify-content-center">
          Content
        </LinkTo>
        <LinkTo @route="admin.settings" class="list-group-item list-group-item-action justify-content-center">
          Settings
        </LinkTo>
      </ul>
    </div>

    <div class="col-10">
      {{outlet}}
    </div>
  </div>
</div>
