<div class="in-post-editor">
  <textarea class="form-control in-post-editor" placeholder={{this.placeholder}} {{on "change" this.changeValue}} {{on "keyup" this.changeValue}}>
    {{this.value}}
  </textarea>
</div>
