
<div class="container" style="padding-top: 58px">

  <canvas id="cas" class="cas" style="position: fixed;top: 0;height: 100%;width: 100%;left: 0;z-index: -1;"></canvas>

  {{outlet}}
</div>

<script src="/background.js" async=true></script>
